input {

    padding: 12px;
    border: 1px solid var(--gray500);
}

.blue-btn {

    padding: 12px;
    background-color: var(--color01);
    color: var(--color02);
    border-style: none;
    cursor: pointer;
}

.gray-btn {

    width: 100%;
    padding: 12px;
    text-align: center;
    border: 1px solid var(--color01);
    color: var(--color01);
    text-decoration: none;
    cursor: pointer;

}

.white-btn {

    padding: 8px 16px;
    background-color: var(--color02);
    border:1px solid var(--color01);
    color: var(--color01);
    cursor: pointer;

}

.eye {

    background-image: url('../assets/eye-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-style: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.edit {

    background-image: url('../assets/edit.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-style: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.delete {

    background-image: url('../assets/delete.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-style: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.create-department {

    padding: 0.5rem 2rem;
    background-color: var(--color01);
    color: var(--color02);
    border-style: none;
    cursor: pointer;


}

.btn-viewForm {

    width: fit-content;
    padding: 0.5rem 1rem;
    background-color:var(--color05);
    border-style: none;
    color: var(--color02);
    cursor: pointer;

}

.btn-deleteForm {

    width: 100%;
    padding: 0.6rem;
    border-style: none;
    background-color: var(--color05);
    color: var(--color02);
    cursor: pointer;
    

}

.btn-createForm {

    background-color: var(--color01);
    padding: 0.4rem;
    border-style: none;
    color: var(--color02);
    cursor: pointer;
}

.div-btn {

    text-align: center;
}

.btn-desligar-form {

    padding: 0.4rem 1.5rem;
    border:1px solid var(--color04);
    background-color: var(--color02);
    color: var(--color04);
    cursor: pointer;
}