input {

    padding: 12px;
    border: 1px solid var(--gray500);
}

.blue-btn {

    padding: 12px;
    background-color: var(--color01);
    color: var(--color02);
    border-style: none;
}

.gray-btn {

    width: 100%;
    padding: 12px;
    text-align: center;
    border: 1px solid var(--color01);
    color: var(--color01);
    text-decoration: none;

}

.white-btn {

    padding: 8px 16px;
    background-color: var(--color02);
    border:1px solid var(--color01);
    color: var(--color01);

}

.eye {

    background-image: url('../assets/eye-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-style: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.edit {

    background-image: url('../assets/edit.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-style: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.delete {

    background-image: url('../assets/delete.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-style: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
}