.flex {

    display: flex;
}

.column {
    flex-direction: column;
}

.gap {

    gap:10px
}

.center {

    text-align: center;
}

.spc-between {

    justify-content: space-between;
}

.just-center {

    justify-content: center;
}