.form {

    width: 95%;
    height: 270px;
    display: flex;
    /* background-color: aqua; */
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    /* gap: 30px */

}

.form-input2 {

    height: 100px;
    background-color: var(--gray800);
    border: 1px solid var(--gray600);
    border-radius: 5px;

}

.select-form {

    padding: 0.5rem;
    border: 1px solid var(--gray500);
}

.select-form-view {

    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--gray500);
}



.form-delete {

    padding: 2rem;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}


.input-editForm {

    height: 100px;

}

.form-editUser {

    padding: 1rem;
    width: 95%;
    height: 200px;
    display: flex;
    /* background-color: aqua; */
    flex-direction: column;
    justify-content: space-around;

}

.div-form {

    height: 400px;
    width: 600px;
}

.form-view {

    /* background-color: aqua; */
    width: 100%;
    padding: 1rem;
    height: 150px;

}

.main-div-form {

    margin-top: 0.6rem;
    display: flex;
    justify-content: space-between;
}

.div-left {

    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.div-right {
    
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
}



.ul-form {

    background-color: var(--gray800);
    height: 210px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;


}

.li-form {

    width: 250px;
    display: flex;
    gap: 0.5rem;
    border-style: none;
    
}



