.toast-container {
    position: fixed;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    gap: 10px;
    width: 400px;
    min-height: 100px;
    padding: 10px;
    border-radius: 4px;
    animation: toastIt 4000ms ease-in forwards;
    box-shadow: 5px 4px 5px 0px rgba(0,0,0,0.21);
}

 @keyframes toastIt {

    0%    {right: 30px; bottom:-100px}
    25%   {right: 30px;bottom: 30px;}
    50%   {right: 30px;bottom: 30px;}
    100%  {right: 30px;bottom: -100px;}


} 


.text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;


}

.sucessToast {
    background-color: green;
    color: white;
    width: 400px;
    height: 100px;
    

}

.errorToast {
    background-color: brown;
    color: white;
}


